<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

</head>

<body>
    <section class="container">
        <div class="app-paper">
            <div class="paper-title">The One With The Employee Reimbursement System</div>
            <form acion="">

                <!-- Employee Login Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button" onclick="window.location.href='/employee-login'">Employee
                                Login</button>
                        </div>
                    </div>
                </label>

                <!-- Manager Login Page -->
                <input type="b" name="login" id="1" class="hidebx">
                <label for="1" class="a">
                    <div class="display-box">
                        <div class="user">
                            <button class="button" type="button" onclick="window.location.href='/manager-login'">Manager
                                Login</button>
                        </div>
                    </div>
                </label>
            </form>
        </div>
    </section>
</body>

</html>